[submodule "thirdparty/ctemplate"]
	path = thirdparty/ctemplate
	url = https://github.com/greenius/ctemplate.git
	branch = xcode12
	#Upstream url used by original mailcore2:
	# url = https://github.com/dinhviethoa/ctemplate
        # Tag 2.2.3
[submodule "thirdparty/libetpan"]
	path = thirdparty/libetpan
	url = https://github.com/dinhviethoa/libetpan.git
        # Tag 1.9.4

